tex-fpc
_build

*~
*.annot
*.cmo
*.cma
*.cmi
*.a
*.o
*.cmx
*.cmxs
*.cmxa
_build
parser.output
.Makefile.d
.*.aux
*.vo
*.vok
*.vos
*.glob
peda-session*
tree.log
tree.log.proc
theories/*Makefile*
theories/.lia.cache
theories/test.*
theories/tex.*
theories/mf.*
*.mli
a.out
.gdb_history
live-demo/*
tex-mf-fpc/tex
tex-mf-fpc/mf
algos/algorithms
factorial/factorial
palindrome.ml
factorial.ml
algorithms.ml
palindrome/palindrome
search.ml
test
test_old.ml
