tex-fpc
tex-mf-fpc
_build

*~
*.annot
*.cmo
*.cma
*.cmi
*.a
*.o
*.cmx
*.cmxs
*.cmxa
_build
parser.output
.Makefile.d
.*.aux
*.vo
*.vok
*.vos
*.glob
theories/Makefile
theories/Makefile.conf
theories/.Makefile.d
